Django==1.5
PIL==1.1.7
South==0.7.4
argparse==1.2.1
distribute==0.6.28
django-tinymce==1.5.1b2
django-wsgiserver==0.6.9
psycopg2==2.5.1
simplejson==3.3.1
sorl-thumbnail==11.01
uWSGI==1.2
wsgiref==0.1.2
beautifulsoup4==4.3.2
reportlab==2.7
django-dbbackup==1.9.0
num2words==0.5.1
