<div style='display:none' id="add_uom">
    <div id='add_new_designation' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
                    <form action="" id="register" name="register" method="post" class="reg_sec">
                        <div class="formrow">
                            <div class="formtext">
                                <label>UOM</label>
                            </div>
                            <div class="forminput">  
                                <input type="text" name="uom" ng-model="uom_name" />
                            </div>  
                        </div>
                        <div align="center">
                            <p ng-show="error_flag" class="error_message">[[message]]</p>
                            <input name="submit" type="button" value="Add" ng-click="add_new_uom()">
                            <input name="cancel" type="button" value="Cancel" ng-click="close_popup()">
                        </div>
                    </form>                        
                </div>
            </div>    
        </div>
        <div class="clearfix"></div>
    </div>
</div>