{% extends 'base.html' %}
{% block title %}Add Item{% endblock title %}
{% block body_id %}add_item{% endblock %}
{% block content %}

<div id="main-title">
	<div class="alert alert-info" align="Center"><h4>Stock</h4></div>
</div>


{% if inventory.count == 0 %}
	<p class="error_message"> NO Items on stock </p>
{% else %}
	<table class="table table-striped">

		<tr><th> Item code </th> <th> Item Name </th> <th> Unit Price </th> <th> Quantity </th> <th> Selling Price </th> <th>  </th> </tr>
		
		{% for item in inventory %}
		 	<tr>
		 		<td> {{item.code}} </td>
		 		<td> {{item.name}} </td>
		 		<td> {{item.unit_price}} </td>
		 		<td> {{item.quantity}} </td>
		 		<td> {{item.selling_price}} </td>

		 		<td> 
		 			<a href="{% url 'edit_stock' %}?item_code={{item.code}}">
						<img src="/static/images/edit.png">
					</a>
				 </td>

		 	</tr>
		{% endfor %}
	</table>
{% endif %}


{% endblock content %}



















