{% extends 'base.html' %}

{% block body_id %}create_receipt_voucher{% endblock %}

{% block title %}Receipt Voucher{% endblock title %}
{% block controller %} ng-controller="ReceiptVoucherController" ng-init="init('{{csrf_token}}')"{% endblock controller %}

{% block content %}

<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Receipt Voucher</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="receipt_voucher" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">

					<div class="formrow_sales">						

						<div class="formtext_sales">
							<label for="voucher_no">Receipt Voucher No.</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="voucher_no" value="{{voucher_no}}" id="voucher_no" readonly/>
						</div>						
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="Date ">Date </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="receipt_voucher_date"  id="receipt_voucher_date" value="{{current_date}}" readonly>
						</div>
					</div>
					
					<div class="formrow_sales">

						<div class="formtext_sales">
							<label for="invoice_number">Invoice Number</label>

						</div>
						<div class="forminput_sales">
							<input type="text" name="invoice_number" ng-model="invoice_no" ng-change="get_sales_invoice_details();" />
							<label class="error_message"> [[invoice_message]] </label>
						</div>

						<div class="item_list quotation_list" ng-show='selecting_invoice' ng-hide="invoice_selected">
							<div ng-repeat="invoice in invoices" ng-click="add_invoice(invoice)" class="item_list_row">
								<span>[[invoice.invoice_no]]</span>
							</div>

							<div class="clear"></div>
						</div>
					</div>

					


					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Customer Name</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="customer" id="customer" ng-model="receiptvoucher.customer">
						</div>
					</div>

				</div>	

					<!-- <div class="clear"></div>
   					</div> -->
   				<!-- <div class="clear"></div> -->
   				<!-- </div> -->

   				<!-- <div class="clear"></div> -->

				<div class="section_1_sales">
					<div class="formrow_sales">									

						<div class="formtext_sales" id="radio">
							<label for="payment_mode">Payment Mode</label>
						</div>
						<div class="forminput_sales" id="radio_input">
							<input type="radio" name="payment_mode" ng-model="receiptvoucher.payment_mode" value="cash" ng-change="payment_mode_change('cash')"><label>Cash</label>
							<input type="radio" name="payment_mode" ng-model="receiptvoucher.payment_mode" value="cheque" ng-change="payment_mode_change('cheque')"><label>Cheque</label>
						</div>
						<div class="clear"></div>
						<div class="clear"></div>

						<div class="formtext_sales">
							<label for="bank_name">Bank Name</label>
						</div>
						<div class="forminput_sales">
							<input type="text" ng-model="receiptvoucher.bank_name" ng-readonly="cash"/>						
						</div>
						
						<div class="formtext_sales">
							<label for="cheque_no">Cheque No</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="cheque_no" ng-model="receiptvoucher.cheque_no" ng-readonly="cash"/>	
						</div>		
					
						<div class="formtext_sales">
							<label for="cheque_date">Cheque date</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="cheque_date" id="cheque_date" ng-model="receiptvoucher.cheque_date" value="{{current_date}}" ng-readonly="cash"/>			
						</div>				

					</div>
					

					<div class="formrow_sales">						

						<div class="formtext_sales">
							<label for="Amount">Sum of</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="amount" ng-model="receiptvoucher.amount" readonly/>
						</div>						
					</div>

					<!-- <div class="formrow_sales">						

						<div class="formtext_sales">
							<label for="Settlement">On Settlement Of</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="Settlement" ng-model="receiptvoucher.settlement">
						</div>						
					</div> -->
				</div>
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="save_receipt()"/>
					<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>


{% endblock content %}
