{% extends 'base.html' %}

{% block body_id %}edit_quotation{% endblock %}

{% block title %}Edit Quotation{% endblock title %}
{% block controller %}ng-controller="EditQuotationController" ng-init="init('{{csrf_token}}')"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'add_new_customer.html' %} 
	              	
{% endblock %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Create Quotation</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="sales_entry" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="reference_number">Reference Number </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="reference_number" id="reference_number" ng-model="ref_no" ng-change="get_quotation_details()"/>
							<p class="error_message">[[message]]</p>
						</div>
						<div class="item_list quotation_list" ng-show='selecting_quotation' ng-hide="quotation_selected">
							<div ng-repeat="quotation in quotations" ng-click="add_quotation(quotation)" class="item_list_row">
								<span>[[quotation.ref_no]]</span>
							</div>
							<div class="clear"></div>
						</div>

					</div>

					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Date ">Date </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="quotation_date"  id="quotation_date" ng-model="quotation.date" readonly>
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Delivery ">Delivery </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="delivery"  ng-model="quotation.delivery" readonly>
						</div>
					</div>	

					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Proof ">Proof </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="proof"  ng-model="quotation.proof" readonly>
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Customer Name</label>
						</div>
						<div class="forminput_sales">
							<input type="text" ng-model="quotation.customer" readonly> 
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Payment ">Payment </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="payment"  ng-model="quotation.payment" readonly>
						</div>
					</div>

					
					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Attention ">Attention </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="attention"  ng-model="quotation.attention" readonly>
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Validity ">Validity </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="validity"  ng-model="quotation.validity" readonly>
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="Subject ">Subject </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="subject"  ng-model="quotation.subject" readonly>
						</div> 
					</div>

				</div>	
		
				<div class="section_3_sales">
					<div class="search_sales">
						<div class="control">
							<label> Item Code </label>
   							<input type='text' id="item_code" ng-model="item_code" ng-change="getItems('item_code')"/>
   						</div>
   						<div class="control">
   							<label> Item name </label>
   							<input type="text" id='item_name' ng-model="item_name" ng-change="getItems('item_name')"/>
   						</div>
   						<div class="control">
   							<label> Barcode </label>
   							<input type="text" id='barcode' ng-model="barcode" ng-change="getItems('barcode')"/>
   						</div>
   						<div class="clear"></div>
	   					<div class="item_list" ng-show='selecting_item' ng-hide="item_selected">
							<div class="item_list_row header">
								<span> Item Code </span>
								<span> Item name </span>
								<span> Barcode </span>
							</div>
							<div ng-repeat="item in items" ng-click="addSalesItem(item)" class="item_list_row">
								<span>[[item.item_code]]</span>
								<span>[[item.item_name]]</span>
								<span>[[item.barcode]] </span>
							</div>
							<div class="clear"></div>
						</div>
    				</div>
    				<div class="clear"></div>
   				</div>


   				<div class="purchase_items_list" ng-show="quotation.sales_items.length > 0">
   					<div class="purchase_item_list">
   						
   						<div class="item_list_row header">
   							<span>Sl No.</span>
							<span class="small_column"> Item Code </span>
							<span> Item Name </span>
							<span> Barcode </span>
							<span> Current Stock </span>
							<span> Unit Price </span>
							<span> Qty  </span>		
							<span> Net Amount </span>
							<span> &nbsp;&nbsp; </span>
						</div>
						<div ng-repeat="item in quotation.sales_items" class="item_list_row">
							<span>[[item.sl_no]]</span>
							<span class="small_column">[[item.item_code]] </span>
							<span>[[item.item_name]] </span>
							<span>[[item.barcode]] </span>
							<span>[[item.current_stock]] </span>
							<span><input type="text" ng-model="item.unit_price" ng-change="calculate_net_amount_sale(item)" /> </span>
							<span> <input type="text" ng-model="item.qty_sold" ng-change="calculate_net_amount_sale(item)" /> </span> 
							
							<span>[[item.net_amount]] </span>
							<span><a href="" ng-click="remove_from_item_list(item)">X</a> </span>
						</div>
						
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>
   				
   				<div class="clear"></div>

				
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="edit_quotation();">
					<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}