{% extends 'base.html' %}

{% block body_id %}Sales{% endblock %}

{% block title %}Sales Entry{% endblock title %}
{% block controller %}ng-controller="SalesController" ng-init="init('{{csrf_token}}', '{{sales_invoice_number}}')" ng-click="hide_sales_details()"{% endblock controller %}
{% block dialogue_popup %}
	{% include 'add_new_customer.html' %} 
	              	
{% endblock %}
{% block extrahead %}
	<script type="text/javascript">
		window.addEvent('domready',function() {
		
		 	// Hide best selling price on click anywhere in the page

		 	$$('#create_quotation').each(function(el){

				el.addEvent('click', function(ev){
					ev.stop();
		            
				});
			});
		});
	</script>
{% endblock extrahead %}
{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Direct Sales Entry</h4></div>
	</div>

	<div class="sales_form_container">
		<form name="sales_entry" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales	">
							<label for="Date ">Date </label>
						</div>

						<div class="forminput_sales">
							
							<input type="text" name="sales_invoice_date"  id="sales_invoice_date" value="{{current_date}}" ng-readonly="payment_mode_selection">
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer">Customer Name</label>
						</div>
						<div class="forminput_sales">
							<select name="customer" ng-model="customer" ng-change="add_customer()" >
								<option value="select">Select</option>
								<option ng-repeat="custmer in customers" value="[[custmer.customer_name]]" ng-selected="custmer.customer_name == customer">[[custmer.customer_name]]
								</option>
								<option value="other">Other</option>
							</select>
							
						</div>
					</div>


					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="sales_invoice_number">Invoice Number </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="sales_invoice_number"  ng-model="sales.sales_invoice_number"  readonly / >
						</div>
					</div>
					
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="lpo_number">LPO Number </label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="lpo_number"  ng-model="sales.lpo_number"/ >
						</div>
					</div>	

				</div>	
		
				<div class="section_3_sales">
					<div class="search_sales">
						<div class="control">
							<label> Item Code </label>
   							<input type='text' id="item_code" ng-model="item_code" ng-change="getItems('item_code')"/>
   						</div>
   						<div class="control">
   							<label> Item name </label>
   							<input type="text" id='item_name' ng-model="item_name" ng-change="getItems('item_name')"/>
   						</div>
   						<div class="control">
   							<label> Barcode </label>
   							<input type="text" id='barcode' ng-model="barcode" ng-change="getItems('barcode')"/>
   						</div>
   						<div class="clear"></div>
	   					<div class="item_list" ng-show='selecting_item' ng-hide="item_selected">
							<div class="item_list_row header">
								<span> Item Code </span>
								<span> Item name </span>
								<span> Barcode </span>
							</div>
							<div ng-repeat="item in items" ng-click="addSalesItem(item)" class="item_list_row">
								<span>[[item.item_code]]</span>
								<span>[[item.item_name]]</span>
								<span>[[item.barcode]] </span>
							</div>
							<div class="clear"></div>
						</div>
    				</div>
    				<div class="clear"></div>
   				</div>


   				<div class="purchase_items_list" ng-show="sales.sales_items.length > 0">
   					<div class="purchase_item_list">
   						
   						<div class="item_list_row header">
							<span class="small_column"> Item Code </span>
							<span> Item Name </span>
							<span> Barcode </span>
							<span> Stock </span>
							<span> Unit Price </span>
							<span> Tax(%) </span>
							<span> Tax Amount </span>
							<span> Qty  </span>
							<span> UOM  </span>
							<span> Dis(%) </span>
							<span> Dis Amt</span>
							<span> Dis Given </span>
							<span> Unit Cost </span>		
							<span> Net Amount </span>
							<span> &nbsp;&nbsp; </span>
						</div>
						<div ng-repeat="item in sales.sales_items" class="item_list_row">
							<span class="small_column">[[item.item_code]] </span>
							<span>[[item.item_name]] </span>
							<span>[[item.barcode]] </span>
							<span>[[item.current_stock]] </span>
							<span><input type="text" ng-model="item.unit_price" ng-change="calculate_net_amount_sale(item)" ng-click="get_latest_sales_details(item)"/></span>
							<span>[[item.tax]] </span>
							<span> [[item.tax_amount]] </span> 
							<span> <input type="text" ng-model="item.qty_sold" ng-change="calculate_net_amount_sale(item)" /> </span> 
							<span>[[item.uom]] </span>
							<span>[[item.discount_permit]] </span>
							<span>[[item.discount_permit_amount]] </span>
							<span> <input type="text" ng-model="item.disc_given" ng-change="calculate_net_amount_sale(item)"/> </span> 
							<span>[[item.unit_cost]] </span>
							<span>[[item.net_amount]] </span>
							<span><a href="" ng-click="remove_from_item_list(item)">X</a> </span>
							
						</div>
						
						<div class="clear"></div>
   					</div>
   					<div class="clear"></div>
   				</div>

   				<div class="section_3_sales align_top">
					<div class="search_sales">
						<p ng-show="no_customer_error_flag" class="error_message"> [[no_customer_error]] </p>
	   					<div class="item_list" ng-show='sales_deatils' id="latest_sales_details" ng-click="hide_sales_details()" ng-hide="no_customer_error_flag">
							<div class="item_list_row header" ng-click="hide_sales_details()">
								<span> Date </span>
								<span> Unit Price </span>
								<span> Quantity Sold </span>
								<span> Discount Given </span>
							</div>
							<div ng-repeat="sales_item in latest_sales" ng-click="hide_sales_details()" class="item_list_row" id="latest_sales_details">
								<span>[[sales_item.date]]</span>
								<span>[[sales_item.selling_price]]</span>
								<span>[[sales_item.qty_sold]]</span>
								<span>[[sales_item.discount_given]]</span>
							</div>
							<div class="clear"></div>
						</div>
    				</div>
    				<div class="clear"></div>
   				</div>
   				
   				<div class="clear"></div>

				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="salesman_code">Salesman Code</label>
						</div>
						<div class="forminput_sales">
							<select name="staff" ng-model="sales.staff" ng-change="add_staff()" >
								<option value="select">Select</option>
								<option ng-repeat="staff in staffs" value="[[staff.salesman_name]]" >[[staff.salesman_name]]
								</option>
								
							</select>
						</div>

						<div class="formtext_sales" id="radio">
							<label for="payment_mode">Payment Mode</label>
						</div>
						<div class="forminput_sales" id="radio_input">
							<input type="radio" name="payment_mode" ng-model="payment_mode" value="cash" ng-change="payment_mode_change_sales('cash')"><label>Cash</label>
							<input type="radio" name="payment_mode" ng-model="payment_mode" value="cheque" ng-change="payment_mode_change_sales('cheque')"><label>Cheque</label>
						</div>
					</div>
					

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="net_total">Net Total</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="net_total"ng-model="sales.net_total" readonly/ >
						</div>
					
						<div class="formtext_sales">
							<label for="discount">Discount</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="net_discount" ng-model="sales.net_discount"ng-change="calculate_grant_total_sale()" readonly/>
						</div>

						<div class="formtext_sales">
							<label for="round">Round Off</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="roundoff" ng-model="sales.roundoff" ng-change="calculate_grant_total_sale()">
						</div>

						<div class="formtext_sales">
							<label for="Grant Total">Grand Total</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="grant_total" ng-model="sales.grant_total" readonly/>
						</div>

						<div class="formtext_sales">
							<label for="paid">Paid</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="paid" ng-model="sales.paid" ng-change="calculate_balance_sale()">
						</div>

						<div class="formtext_sales">
							<label for="balance">Balance</label>
						</div>
						<div class="forminput_sales">
							<input type="text" name="balance" ng-model="sales.balance">
						</div>
					</div>
				</div>
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" value="Submit" ng-click="save_sales();">
					<a href="{% url 'home' %}"><input type="button" value="Cancel"></a>
				</div>
			</div>			
		</form>
		<div class="clear"></div>
	</div>

{% endblock content %}








































