{% extends 'base.html' %}
{% block title %}Sales View
{% endblock title %}
{% block body_id %}sales_view{% endblock %}

{% block content %}

	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>View Sales</h4></div>
	</div>

	<div class="purchase_form_container">
		<form name="view_sales" method="post">
			<div class="form_contents_sales">
				<div class="section_1_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="invoice_number">Invoice Number </label>
						</div>
						<div class="forminput">
							<input type="text" name="invoice_number"  >
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="date">Date</label>
						</div>

						<div class="forminput">
							<input type="text" name="Date" >
						</div>
					</div>
				<!-- </div>

					
				<div class="section_2_sales">
 -->
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="customer_name">Customer Name</label>
						</div>
						<div class="forminput">
							<input type="text" name="name">
						
						</div>
					</div>


					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="contact_no">Contact No</label>
						</div>
						<div class="forminput">
							<input type="text" name="contact_no">
						</div>
					</div>
								
				</div>	

				<div class="section_3_sales">
					<table id="list" class="table table-hover" style="margin-top: 55px">
						<tr class="success" style="font-size: 12px"style="width:auto">
						  <th>Item Code </th>
						  <th>Item Name</th>
						  <th>Quantity</th>			
						  <th>UOM</th>
						  <th>Unit Price</th>
						  <th>Tax (%)</th>
						  <th>Tax Amount</th>
						  <th>unit Price</th>
						  <th>Discount</th>
						  <th>Net Amount</th>			 
						</tr>
					</table>
					</div>
				</div>


				<div class="section_2_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="sales_man">Salesman</label>
						</div>
						<div class="forminput">
							<input type="text" name="salesman">
						</div>
					</div>
				
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="sales_man">Salesman Code</label>
						</div>

						<div class="forminput">
							<input type="text" name="salesman_code">
						</div>
					</div>
				</div>

				<div class="section_2_sales">
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="total">Total</label>
						</div>
						<div class="forminput">
							<input type="text" name="total">
						</div>
					</div>

					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="discount">Discount</label>
						</div>
						<div class="forminput">
							<input type="text" name="discount">
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="round_off">Round Off</label>
						</div>
						<div class="forminput">
							<input type="text" name="round_off">
						</div>
					</div>
					<div class="formrow_sales">
						<div class="formtext_sales">
							<label for="grand_total">Grand Total</label>
						</div>
						<div class="forminput">
							<input type="text" name="grand_total">
						</div>
					</div>
					<br><br><br>
					<div>
						<input style="background-color:#cce6ff" type="submit" value="Print">
					</div>
				</div>

			</div>

		</form>

	</div>

				
{% endblock content %}

